<h1>Home#index</h1>
<p><%=@time%></p>
<p><%=@today%></p>

<% @photos.each do |photo| %>
<div class="photo">
  <a href="<%= photo_path(photo)%>"><%= photo.name%></a>
</div>
  <a href="<%= new_photo_path%>">new</a>

<% end %>
